<%- include ("./partials/header") %>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Reported Review</h5>
            <div class="row">
                <% reviews.forEach(function(review){ %>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-right">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                </div>
                                <div class="float-left">
                                    <div class="card-title">Review by: <strong><%= review.author.username %></strong></div>
                                    <div class="card-subtitle mb-2"><em><%= review.updatedAt.toDateString() %></em></div>
                                    <div class="card-text"><%= review.text %></div>
                                    <% if(review.course) { %>
                                    <form class="delete-form" action="/course/<%= review.course.slug%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete And Resolve</button>
                                    </form>
                                    <form class="delete-form" action="/course/<%= review.course.slug %>/reviews/<%=review._id%>/resolve?_method=PUT" method="POST">
                                        <button class="btn btn-sm btn-info">Ignore And Resolve</button>
                                    </form>
                                <% } else { %>
                                    <form class="delete-form" action="/users/<%= review.user.slug%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete And Resolve</button>
                                    </form>
                                    <form class="delete-form" action="/users/<%= review.user.slug %>/reviews/<%=review._id%>/resolve?_method=PUT" method="POST">
                                        <button class="btn btn-sm btn-info">Ignore And Resolve</button>
                                    </form>
                                <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <h5 class="card-title">Reported Comments</h5>
            <% comments.forEach(function(comment){ %>
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-left">
                                <p class="card-title"><%= comment.author.username %></p>
                                <p class="card-text"><%= comment.text %></p>
                            </div>
                            <div class="float-right">
                                <p><%= moment(comment.createdAt).fromNow() %></p>
                                <div class="float-right">
                                    <form class="delete-form" action="/course/<%=comment.course.slug%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete And Resolve</button>
                                    </form>
                                    <form class="delete-form" action="/course/<%=comment.course.slug%>/comments/<%=comment._id%>/resolve?_method=PUT" method="POST">
                                        <button class="btn btn-sm btn-info">Ignore And Resolve</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>