<%- include ("../partials/header") %>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="<%=user.avatar%>" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= user.firstName + " " + user.lastName%></h5>
                  <p class="card-text">
                    <%= user.description %>
                    <div><a href="mailto:<%=user.email%>"><%=user.email%></a></div>
                    <a href="/follow/<%= user.slug %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
                    <% if(currentUser && currentUser.isAdmin) { %>
                    <form action="/users/<%= user.slug %>/ban?_method=PUT" method="post">
                        <button class="btn btn-sm btn-danger">Ban Permanently</button>
                    </form>
                    <form action="/users/<%= user.slug %>/ban/temp?_method=PUT" method="post">
                        <input type="number" name="day" min="1" step="1" required>
                        <button class="btn btn-sm btn-danger">Ban Temporarily</button>
                    </form>
                    <% }%>
                  </p>
                  <p class="card-text"><small class="text-muted">Last updated <%= moment(user.updatedAt).fromNow() %></small></p>
                </div>
              </div>
            </div>
        </div> 
    </div>
    <div class="col-md-6">
    <% if(currentUser && (currentUser.isProfessor || currentUser.isAdmin)){ %>
        <h3><%=user.username%>'s courses:</h3>
        <div class="row">
          <ul>
          <% course.forEach(function(courseq){%>
              <li><a href="/course/<%=courseq.slug%>"><%=courseq.title%></a></li>
          <% }) %>
        </ul>
        </div>
    <a class="btn btn-dark" href="/users/<%=user.slug%>/activity">Show Recent Activity</a>
      <% } %>
    </div>
    <div class="card">
        <div class="card-body">
          <% if(user.rating === 0) { %>
            <h5 class="card-title"><em>No Reviews Yet</em></h5>
          <% } else { %>
            <p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
              <em>(total reviews: <%= user.reviews.length %>)</em>
            </p>
            <h6> Current User rating: <strong><%= user.rating.toFixed(2) %></strong></h6>
            <p><h5 class="card-title">Latest reviews for user:</h4></p>
            <hr style="margin-top: 0;">
            <div class="row">
              <% user.reviews.slice(0, 5).forEach(function(review){ %>
                <div class="col-md-12 mb-2">
                  <div class="card">
                    <div class="card-body">
                      <div class="float-right">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                      </div>
                      <div class="float-left">
                      <% if(!currentUser || (!currentUser.isAdmin && review.isAnonymous)) { %>
                          <div>Review by: <strong>Anonymous</strong></div>
                      <% } else { %>
                          <div>Review by: <strong><%= review.author.username %></strong></div>
                      <% } %>
                        <div class="card-subtitle mb-2"><em><%= review.updatedAt.toDateString() %></em></div>
                        <div class="card-text"><%= review.text %></div>
                        <div class="float-left"> 
                          <form class="vote-up" data-id="<%=review._id%>" data-userSlug="<%=user.slug%>">
                            <input class="btn btn-sm btn-success" type="submit" value="Vote Up">
                          </form>
                          <span class="card-text" id="<%=review._id%>"><%=review.vote.positive.length - review.vote.negative.length%></span>
                          <form class="vote-down" data-id="<%=review._id%>" data-userSlug="<%=user.slug%>">
                            <input class="btn btn-sm btn-danger" type="submit" value="Vote Down">
                          </form>
                        </div>
                      </div>
                      <% if(currentUser) { %>
                        <div class="float-right col-auto">
                          <form class="delete-form" action="/users/<%=user.slug%>/reviews/<%=review._id%>/report?_method=PUT" method="post">
                            <button class="btn btn-sm btn-info">Report</button>
                          </form>
                        </div>
                      <% } %>
                      <% if(currentUser && review.author.slug === currentUser.slug || currentUser && currentUser.isAdmin){ %>
                        <div class="float-right col-auto">
                          <a href="/users/<%=user.slug%>/reviews/<%=review._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                          <form class="delete-form" action="/users/<%=user.slug%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                          </form>
                        </div>
                      <% } %>
                    </div>
                  </div>
                </div>
              <% }) %>
              <div>
                <h4 class="card-text my-2 ml-3"><a href="/users/<%= user.slug %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
              </div>
            </div>
          <% } %>
          <div class="card-text col-auto">
              <a class="btn btn-primary btn-lg <% if (currentUser && user.reviews.some(function (review) {return review.author.slug === currentUser.slug})) { %> disabled <% } %>" href="/users/<%= user.slug %>/reviews/new">Write a New Review</a>
          </div>
          <!-- </div> -->
        </div>
      </div>
</div>

</div><!-- /.container -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
    <p class="text-muted">&copy; ReviewCourse 2020 | <a href="/course">Home</a> | <a href="/course/new">New Course</a></p>
  </div>
</footer>
<!--  CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Custom JS for voting feature -->
<script src="/scripts/userVote.js" async defer></script>
</body>
</html>