<%- include ("../partials/header") %>
<div class="row">
  <div class="col-md-3">
    <p class="lead">Weather Forecast</p>
    <div class="list-group">
      <a class="list-group-item list-group-item-action active">
        <img class="align-self-start mr-3" src="https://www.metaweather.com/static/img/weather/png/64/<%=weather[0].weather_state_abbr%>.png" alt="">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= weather[0].weather_state_name%></h5>
          <small>Today</small>
        </div>
        <p class="mb-1">
          <div><%= weather[0].the_temp.toFixed(2)%>°C</div>
          <div><strong>Max : </strong><%= weather[0].max_temp.toFixed(2)%>°C</div>
          <div><strong>Min : </strong><%= weather[0].min_temp.toFixed(2)%>°C</div>
        </p>
        <small>Donec id elit non mi porta.</small>
        <!-- </div> -->
      </a>
      <a class="list-group-item list-group-item-action">
        <img class="align-self-start mr-3" src="https://www.metaweather.com/static/img/weather/png/64/<%=weather[1].weather_state_abbr%>.png" alt="">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= weather[1].weather_state_name%></h5>
          <small>Tomorrow</small>
        </div>
        <p class="mb-1">
          <div><%= weather[0].the_temp.toFixed(2)%>°C</div>
          <div><strong>Max : </strong><%= weather[1].max_temp.toFixed(2)%>°C</div>
          <div><strong>Min : </strong><%= weather[1].min_temp.toFixed(2)%>°C</div>
        </p>
        <small>Donec id elit non mi porta.</small>
        <!-- </div> -->
      </a>
      <a class="list-group-item list-group-item-action active">
        <img class="align-self-start mr-3" src="https://www.metaweather.com/static/img/weather/png/64/<%=weather[2].weather_state_abbr%>.png" alt="">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= weather[2].weather_state_name%></h5>
          <small>2 Days Later</small>
        </div>
        <p class="mb-1">
          <div><%= weather[2].the_temp.toFixed(2)%>°C</div>
          <div><strong>Max : </strong><%= weather[2].max_temp.toFixed(2)%>°C</div>
          <div><strong>Min : </strong><%= weather[2].min_temp.toFixed(2)%>°C</div>
        </p>
        <small>Donec id elit non mi porta.</small>
        <!-- </div> -->
      </a>
    </div>
    <div class="my-1" id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= course.image %>" alt="<%= course.title %>">
      <div class="card-body">
        <p class="float-right">
          Number of Students: <%= course.studentNo %>
        </p>
        <h5 class="card-title"><%= course.title %></h5>
        <p>
          <em>Submitted by: <a href="/users/<%= course.author.id %>"><%= course.author.username %></a>, <%= moment(course.createdAt).fromNow() %></em>
        </p>
        <hr>
        <p class="card-text"><%= course.description %></p>
        <% if(currentUser && course.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-warning" href="/course/<%= course._id %>/edit">Edit</a>
          <form action="/course/<%= course._id %>?_method=DELETE" method="POST" class="delete-form">
            <button class="btn btn-danger">Delete</button>
          </form>
        <% } %>
        <div style="margin-top: 10px;">
          <a class="btn btn-default" href="/course"><i class="fa fa-arrow-left"></i> Go back</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <% if(course.rating === 0) { %>
          <h5 class="card-title"><em>No Reviews Yet</em></h5>
        <% } else { %>
          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star <% if (course.rating > 1.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (course.rating > 2.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (course.rating > 3.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (course.rating > 4.5) { %> checked <% } %>"></span>
            <em>(total reviews: <%= course.reviews.length %>)</em>
          </p>
          <h6> Current course rating: <strong><%= course.rating.toFixed(2) %></strong></h6>
          <p><h5 class="card-title">Latest reviews for this course:</h4></p>
          <hr style="margin-top: 0;">
          <div class="row">
            <% course.reviews.slice(0, 5).forEach(function(review){ %>
              <div class="col-md-12 mb-2">
                <div class="card">
                  <div class="card-body">
                    <div class="float-right">
                      <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                    </div>
                    <div class="float-left">
                      <% if(!currentUser || (!currentUser.isAdmin && review.isAnonymous)) { %>
                        <div>Review by: <strong>Anonymous</strong></div>
                      <% } else { %>
                        <div>Review by: <strong><%= review.author.username %></strong></div>
                      <% } %>
                      <div class="card-subtitle mb-2"><em><%= review.updatedAt.toDateString() %></em></div>
                      <div class="card-text"><%= review.text %></div>
                      <div>
                        <form class="vote-up" data-id="<%=review._id%>" data-courseId="<%=course._id%>">
                          <input class="btn btn-sm btn-success" type="submit" value="Vote Up">
                        </form>
                        <span class="card-text" id="<%=review._id%>"><%=review.vote.positive.length - review.vote.negative.length%></span>
                        <form class="vote-down" data-id="<%=review._id%>" data-courseId="<%=course._id%>">
                          <input class="btn btn-sm btn-danger" type="submit" value="Vote Down">
                        </form>
                      </div>
                    </div>
                    <% if(currentUser) { %>
                      <div class="float-right col-auto">
                        <form class="delete-form" action="/course/<%=course._id%>/reviews/<%=review._id%>/report?_method=PUT" method="post">
                          <button class="btn btn-sm btn-info">Report</button>
                        </form>
                      </div>
                    <% } %>
                    <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                      <div class="float-right col-auto">
                        <a href="/course/<%=course._id%>/reviews/<%=review._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                        <form class="delete-form" action="/course/<%=course._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            <% }) %>
            <div>
              <h4 class="card-text my-2 ml-3"><a href="/course/<%= course._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
            </div>
          </div>
        <% } %>
        <div class="card-text col-auto">
            <a class="btn btn-primary btn-lg <% if (currentUser && course.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/course/<%= course._id %>/reviews/new">Write a New Review</a>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" href="/course/<%= course._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <div class="row">
          <% course.comments.forEach(function(comment){ %>
            <div class="col-md-12 mb-2">
              <div class="card">
                <div class="card-body">
                  <div class="float-left">
                    <p class="card-title"><%= comment.author.username %></p>
                    <p class="card-text"><%= comment.text %></p>
                  </div>
                  <div class="float-right">
                    <p><%= moment(comment.createdAt).fromNow() %></p>
                    <% if(currentUser) { %>
                      <div class="float-right col-auto">
                        <form class="delete-form" action="/course/<%=course._id%>/comments/<%=comment._id%>/report?_mrthod=PUT" method="post">
                          <button class="btn btn-sm byn-info">Report</button>
                        </form>
                      </div>
                    <% } %>
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                      <div class="float-right">
                        <a href="/course/<%=course._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                        <form class="delete-form" action="/course/<%=course._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function initMap() {
    var lat = Number("<%=course.lat%>");
    var lng = Number("<%= course.lng%>");
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= course.title %><br />
      <%= course.location %></strong>
      <p><%= course.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbtTg4BAGrqjbQKGpkXPvK7pZWD3sz6fQ&callback=initMap" type="text/javascript"></script>

</div><!-- /.container -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Goin'Campin' 2020 | <a href="/course">Home</a> | <a href="/course/new">New Course</a></p>
  </div>
</footer>
<!--  CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Custom JS for vote feature -->
<script src="/scripts/vote.js" async defer></script>
</body>
</html>